<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" href= "/css/style.css">
  </head>
  <body>
    <ul>
      <% data.data.results.forEach(item => { %>
      <li><%= item.name.title%>, <%= item.name.first%> <%= item.name.last%> <img src="<%=item.picture.medium%>" alt= "..."/> </li>
      <% }) %>
      
  
    </ul>
  </body>
</html>